Host devgrenoble
  User <iotlab_login>
  HostName  devgrenoble.iot-lab.info
  IdentityFile ~/.ssh/id_iotlab_rsa 

Host grenoble
  User <iotlab_login>
  HostName  grenoble.iot-lab.info
  IdentityFile ~/.ssh/id_iotlab_rsa

